DATABASE:
  DB_NAME: "creditcard_core_processor"
  USERNAME: "root"
  PASSWORD: "12345AAA"
REDIS:
  PASSWORD:
RABBITMQ:
  USERNAME:
  PASSWORD:
SECURITY:
  CARD_SECRET_KEY: "pKpfLUC51xyMbSDj"
  CARD_IV: "pKpfLUC51xyMbSDj"
MPGS:
  USERNAME: "8aD0jGCOif0Lp5zEqE"
  PASSWORD: "eQtlzwmo77ov3nBnDk"
NEW_RELIC_LICENSE_KEY: "1b944da4ea872cb78875c4301505c934FFFFNRAL"
