DATABASE:
  DB_NAME: "boilerplate_service"
  USERNAME: "root"
  PASSWORD: "root"
REDIS:
  PASSWORD:
RABBITMQ:
  USERNAME:
  PASSWORD:
SECURITY:
  CARD_SECRET_KEY: "encrypted secret key"
  CARD_IV: "encrypted iv"

NEW_RELIC_LICENSE_KEY: "encrypted linsence"
